*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Inter-regular';
    src: url('../fonts/Inter.woff2') format('woff2'), 
        url('../fonts/Inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-medium';
    src: url('../fonts/Inter_Medium.woff2') format('woff2'), 
        url('../fonts/Inter_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Heading-pro';
    src: url('../fonts/Heading-Pro-Wide-Bold-trial.woff2') format('woff2'), 
        url('../fonts/Heading-Pro-Wide-Bold-trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-light';
    src: url('../fonts/Inter-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-bold';
    src: url('../fonts/inter-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-semibold';
    src: url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.announcement-bar{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem;
    font-size: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    font-family: 'Inter-regular';
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    padding: 0.625rem;
    width: 100%;
    top: 26px;
    z-index: 1;
    height: 60px;
    font-family: 'Inter-regular';
    user-select: none;
}
.logo, .cart-icon, .search-bar, .shop-all{
    border-right: 1px solid black;
    height: 150%;
    display: flex;
    align-items: center;
}
.header.white {
    background: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.logo{
    flex: 1;
    justify-content: center;
}
.logo a {
    text-decoration: none;
    display: inline-block;
}
.cart-icon {
    flex: 0.5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}
.cart-count {
    background: #000000;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    transform: translate(50%, -50%);
}
.cart-sidebar{
    position: fixed;
    left: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    text-align: center;
}
.cart-sidebar.active{
    left: 0;
    top: 0;
    margin-top: 80px;
}
.close-cart{
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}
.empty-cart-message {
    margin-top: 50px;
    padding-top: 350px;
}
.cart-title {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Inter-regular';
}
.continue-shopping {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Inter-regular';
}
.login-text {
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Inter-regular';
}
.login-link {
    font-size: 12px;
    color: #777;
    font-family: 'Inter-regular';
}
.nav-menu {
    display: flex;
    flex: 3;
}
.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    border-right: 1px solid black;
    padding: 1.25rem;
}
.badge {
    padding: 0.125rem 0.375rem;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}
.badge.gray {
    background-color: #7E7E7E;
}
.badge.black {
    background-color: #000;
}
.search-bar {
    flex: 3;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-bar i{
    display: none;
}
.search-bar input{
    width: 100%;
    padding: 0 0.75rem;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}
.search-bar input.active{
    width: 250px;
    text-align: left;
    margin-left: -350px;
}
.search-bar input:focus{
    outline: none;
}
.search-bar .close-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    cursor: pointer;
    display: none;
}
.search-bar input.active + .close-search {
    display: block;
}
.shop-all {
    flex: 0.5;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.shop-all-btn{
    margin-left: 70px;
}
.shop-all-btn::after{
    content: '→';
    margin-left: 50px;
}
.menu-btn {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.menu-icon {
    font-size: 18px;
    margin-left: 20px;
}
.menu-window{
    position: fixed;
    top: 9%;
    right: -100%;
    width: 350px;
    height: 100%;
    padding: 1rem 2rem;
    transition: right 0.3s ease-in-out;
    background-color: #fff;
}
.menu-list{
    padding: 0;
}
.menu-list li{
    list-style-type: none;
    line-height: 2;
}
.menu-list li a{
    text-decoration: none;
    color: black;
    padding: 2px 0;
    display: inline-block;
    font-family: 'Inter-regular';
    font-size: 11px;
    letter-spacing: 0.5px;
}
.menu-list .section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Heading-pro';
    font-size: 13px;
    margin-top: 30px;
    letter-spacing: 0.8px;
}
.menu-list .highlight{
    background-color: yellow;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 120px;
    margin-top: -30px;
    font-family: 'Inter-regular';
}
.menu-list li:nth-last-of-type(3) {
    margin-top: 20px;
}
.menu-window.open{
    right: 0;
}
.close-menu{
    font-size: 1.125rem;
    cursor: pointer;
    display: block;
    text-align: right;
}
.menu-list li:nth-last-of-type(2) a {
    margin-right: 30px;
    font-size: 11px;
}
.menu-list li:last-child a {
    margin-right: 38px;
    font-size: 11px;
}
.menu-list li:last-child {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 5px;
}
#t1, #t2, #t3{
    padding-top: 90px;
}
.menu-icon i{
    transition: transform 0.3s ease;
}

/*login section*/
.login-section{
    width: 100%;
    max-width: 500px;
    margin: 200px auto;
    text-align: center;
}
.login-section h2{
    margin-bottom: 50px;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Heading-pro';
}
.login-form{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 25px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
}
label{
    font-family: 'Inter-regular';
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 12px;
}
input{
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px 0;
    outline: none;
    background: transparent;
}
.full-width{
    width: 100%;
}
a{
    color: #000;
    font-size: 14px;
    font-family: 'Inter-regular';
    letter-spacing: 1px;
    font-size: 12px;
}
#forgot{
    text-align: left;
    margin-top: -10px;
    text-transform: uppercase;
}
#create{
    margin-top: -25px;
    text-decoration: none;
    text-transform: uppercase;
}
button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px 0;
    font-size: 14px;
    cursor: pointer;
    width: 250px;
    letter-spacing: 1px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Inter-semibold';
}

/*footer section*/
@keyframes marquee{
    from {
        transform: translateX(0);
}
    to {
        transform: translateX(-80%);
    }
}
.bar{
    background: #000;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    position: relative;
    width: 100%;
    padding: 1.25rem;
}
.marquee-content{
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}
.marquee-item{
    display: inline-block;
    padding: 0 30px;
    font-size: 12px;
    font-family: 'Heading-pro';
}
.footer-container {
    border-top: 1px solid black;
    margin-top: 10px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: stretch;
}
.footer-left {
    width: 40%;
    text-align: center;
    padding: 3.125rem;
}
.logo1 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.subscribe-section {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Inter-semibold';
}
.subscribe-section p{
    text-align: left;
    top: 10px;
    font-family: 'Inter-regular';
}
.subscribe-text {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.subscribe-box {
    display: flex;
    border: 1px solid black;
    width: 100%;
    max-width: 400px;
    align-items: left;
    margin-top: 10px;
}
.email-input {
    width: 70%;
    padding: 0.625rem;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: 'Inter-regular';
}
.subscribe-button {
    background: black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-family: 'Inter-regular';
}
.footer-divider {
    border: 1px solid black;
    min-height: 350px;
    height: 100%;
    margin-left: -50px;
}
.footer-right {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.footer-column h3 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Inter-bold';
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 8px;
    font-family: 'Inter-medium';
}
.footer-column ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    opacity: 75%;
}
#b1, #b2{
    display: none;
}
.footer-social {
    display: flex;
    justify-content: center;
    padding: 0.938rem 0;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'Inter-regular';
}
.footer-social a {
    margin: 0 1.875em;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.footer-bottom {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Inter-regular';
}
.footer-bottom-links a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/*footer parallex section*/
.footer-parallex-section{
    background-image: url('../images/footer_image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Responsive design on different screens*/
@media (max-width: 978px) {

    /*header section*/
    .nav-item, .shop-all, .search-bar input{
        display: none;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        cursor: pointer;
        order: 1;
        flex: 0.5;
        font-size: 20px;
        border-right: 1px solid black;
        height: 150%;
        margin-left: -150px;
        padding-right: 30px;
    }
    .menu-window{
        position: fixed;
        top: 10%;
        left: -250px;
        width: 200px;
        height: 50vh;
        padding: 15px;
        transition: left 0.3s ease-in-out;
        background-color: #fff;
    }
    .menu-window.open{
        left: 10px;
    }
    .logo {
        display: flex;
        flex: 6;
        order: 2;
    }
    .cart-icon {
        position: relative;
        order: 4;
        flex: 1;
        margin-right: -20px;
    }
    .cart-count {
        background: black;
        color: white;
        font-size: 0.7rem;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
    }
    .cart-sidebar{
        position: fixed;
        right: -300px;
        width: 300px;
        height: 60%;
        background: #fff;
    }
    .cart-sidebar.active{
        right: 0;
    }
    .search-bar {
        display: flex;
        align-items: center;
        order: 3;
        flex: 1;
    }
    .search-bar i {
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
    }

    /*footer section*/
    .footer-container {
        flex-direction: column; 
        width: 100%;
    }
    .footer-left {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .footer-left .subscribe-section{
        display: none;
    }
    .footer-divider {
        display: none;
    }
    .footer-right {
        width: 100%;
        display: flex;
        padding-top: 20px;
        position: relative;
        padding-bottom: 10px;
    }
    .footer-right::before{
        content: "";
        position: absolute;
        left: 50%;
        height: 100%;
        width: 1px;
        background-color: black;
        transform: translateY(-10%);
    }
    .collection-items, .collect{
        display: none;
    }
    #customer{
        margin-left: -400px;
    }
    .customer-section h3{
        font-size: 15px;
    }
    .cse{
        font-size: 10px;
        opacity: 75%;
    }
    .brand-section h3{
        font-size: 15px;
    }
    .brand{
        font-size: 10px;
        opacity: 75%;
    }
    #b1, #b2{
        display: block;
    }
    .footer-social a{
        font-size: 12px;
    }
    .footer-bottom{
        font-size: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .footer-bottom-links a{
        display: none;
    }
}


@media (max-width: 768px) {

    /*header section*/
    .nav-item, .shop-all, .search-bar input{
        display: none;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        order: 1;
        flex: 1;
        margin-left: -160px;
        font-size: 10px;
        border-right: 1px solid black;
        height: 150%;
        padding-right: 10px;
    }
    .menu-window{
        position: fixed;
        top: 10%;
        left: -350px;
        width: 300px;
        height: 100%;
        padding: 15px;
        transition: left 0.3s ease-in-out;
        background-color: #fff;
    }
    .menu-list .highlight{
        background-color: yellow;
        padding: 2px 6px;
        font-size: 10px;
        border-radius: 15px;
        display: inline-block;
        margin-right: 110px;
        margin-top: -30px;
        font-family: 'Inter-regular';
    }
    .menu-window.open{
        left: 10px;
    }
    #t1, #t2, #t3{
        padding-top: 50px;
    }
    .menu-list li:nth-last-of-type(2) a {
        margin-right: 30px;
        font-size: 10px;
    }
    .menu-list li:last-child a {
        margin-right: 38px;
        font-size: 10px;
    }
    .logo {
        flex-grow: 2.5;
        display: flex;
        flex: 3;
        order: 2;
        justify-content: center;
    }
    .cart-icon {
        position: relative;
        order: 4;
        flex: 1;
        margin-right: -10px;
    }
    .cart-count {
        background: black;
        color: white;
        font-size: 0.7rem;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
    }
    .cart-sidebar{
        position: fixed;
        right: -300px;
        width: 300px;
        height: 100%;
        background: #fff;
    }
    .cart-sidebar.active{
        right: 0;
    }
    .empty-cart-message {
        margin-top: 50px;
        padding-top: 250px;
    }
    .search-bar {
        display: flex;
        align-items: center;
        order: 3;
        flex: 1;
    }
    .search-bar i {
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .cart-title {
        font-size: 18px;
        margin-bottom: 20px;
        font-family: 'Inter-regular';
    }
    .continue-shopping {
        background: #000;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 12px;
        border-radius: 5px;
    }
    .login-text {
        font-size: 10px;
        margin-top: 20px;
        font-family: 'Inter-regular';
    }
    .login-link {
        font-size: 12px;
        color: #777;
        font-family: 'Inter-regular';
    }

    /*footer section*/
    .footer-container {
        flex-direction: column; 
        width: 100%;
    }
    .footer-left {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .footer-left .subscribe-section{
        display: none;
    }
    .footer-divider {
        display: none;
    }
    .footer-right {
        width: 100%;
        display: flex;
        padding-top: 20px;
        position: relative;
        padding-bottom: 10px;
    }
    .footer-right::before{
        content: "";
        position: absolute;
        left: 50%;
        height: 100%;
        width: 1px;
        background-color: black;
        transform: translateY(-10%);
    }
    .collection-items, .collect{
        display: none;
    }
    #customer{
        margin-left: -50px;
    }
    .customer-section h3{
        font-size: 12px;
    }
    .cse{
        font-size: 8px;
        opacity: 75%;
    }
    .brand-section h3{
        font-size: 12px;
    }
    .brand{
        font-size: 8px;
        opacity: 75%;
    }
    #b1, #b2{
        display: block;
    }
    .footer-social a{
        font-size: 8px;
        gap: 10px;
    }
    .footer-bottom{
        font-size: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .footer-bottom-links a{
        display: none;
    }
    .footer-parallex-section{
        display: none;
    }
}
